<h1>Admin Dashboard</h1><br/>

<p class="h3 text-muted">Total Number of Products: <%= @product_count %></p><br/>

<a class="h4 text-info" href="<%= admin_products_path %>">Total Number of Categories: <%= @categories_count %></a><br />
